<h1>Hello, Nick!</h1>
<%= link_to 'My Journals', { :controller => 'journals' }, { :class => 'btn btn-large btn-primary' }%>
<%= link_to 'My To Do\'s', { :controller => 'todos' }, { :class => 'btn btn-large btn-primary' }%>